* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

section {
  margin-bottom: 140px;
}
section img {
  width: 100%;
  height: 20vh;
  z-index: 1;
}
section .second {
  border: thin solid black;
  width: 100%;
  background-color: rgb(204, 204, 204);
  position: relative;
}
section .second .box {
  width: 70%;
  background-color: white;
  margin: auto;
  border-radius: 5px;
  position: absolute;
  top: -40px;
  left: 14.5%;
  box-shadow: 0px 5px 27px 10px rgba(0, 0, 0, 0.63);
}
section .second .box .circle {
  border: thick solid black;
  width: 13%;
  height: 20vh;
  margin: auto;
  margin-top: -50px;
  border-radius: 100px;
}
section .second .box .circle img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}
section .second .box h3 {
  text-align: center;
}
section .second .box h4 {
  font-weight: 600;
  text-align: center;
}
section .second .box h2 {
  text-align: center;
  color: #F26666;
  margin-bottom: 9px;
}
section .second .box hr {
  width: 50%;
  margin: auto;
}
section .second .box p {
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  margin-bottom: 5px;
}
section .second .box .btn {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
section .second .box .btn button {
  padding: 10px;
  color: white;
  background-color: #E13838;
  border: none;
}
section .second .box #ExamArea {
  width: 75%;
  display: none;
  margin: auto;
  margin-top: -10px;
}
section .second .box #ExamArea .Timetext {
  width: 35%;
  margin: auto;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  background-color: rgb(165, 39, 168);
  border-radius: 5px;
}
section .second .box #ExamArea .Timetext .Time {
  width: 50%;
  height: 7vh;
  border-radius: 5px;
}
section .second .box #ExamArea .Timetext .Time h1 {
  color: white;
  margin-top: 8px;
  animation-name: pop;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes pop {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
section .second .box #ExamArea .Timetext .text {
  width: 50%;
  height: 7vh;
  border: thin solid rgb(122, 33, 124);
  background-color: rgb(122, 33, 124);
  border-radius: 5px;
}
section .second .box #ExamArea .Timetext .text h4 {
  color: white;
  margin-top: 13px;
}
section .second .box #ExamArea .general {
  margin: auto;
  border: thin solid rgb(165, 39, 168);
  width: 55%;
  height: 5vh;
  background-color: rgb(165, 39, 168);
  border-radius: 3px;
}
section .second .box #ExamArea .general p {
  color: white;
  margin-top: 5px;
}
section .second .box #ExamArea .QuestionAnswer {
  border: thin solid #A527A8;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  border-radius: 9px;
  padding: 10px;
  position: relative;
}
section .second .box #ExamArea .QuestionAnswer .round {
  position: absolute;
  border: medium solid rgb(165, 39, 168);
  width: 20px;
  height: 20px;
  margin-left: -20px;
  animation-name: move;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  border-radius: 50%;
}
@keyframes move {
  25% {
    transform: translateY(1260%);
  }
  50% {
    transform: translate(2820%, 1260%);
  }
  75% {
    transform: translate(2820%, -112%);
  }
  100% {
    transform: translate(0%, -112%);
  }
}
section .second .box #ExamArea .QuestionAnswer .num {
  border: thin solid rgb(165, 39, 168);
  width: 5%;
  height: 4vh;
  background-color: rgb(165, 39, 168);
  border-radius: 100%;
}
section .second .box #ExamArea .QuestionAnswer .num h5 {
  text-align: center;
  color: white;
  margin-top: 1px;
}
section .second .box #ExamArea .QuestionAnswer #questionbox {
  width: 80%;
  min-height: 15vh;
  margin: auto;
  margin-top: -25px;
  font-weight: 700;
}
section .second .box #ExamArea .QuestionAnswer #questionbox .questionimage {
  width: 50%;
  margin: auto;
  height: 13vh;
}
section .second .box #ExamArea .QuestionAnswer #answerbox {
  width: 90%;
  border: thin solid black;
  min-height: 15vh;
  margin: auto;
  margin-top: -15px;
  background-color: black;
}
section .second .box #ExamArea .QuestionAnswer #answerbox .el {
  color: white;
  margin-top: 100px;
  font-weight: 600;
}
section .second .box #ExamArea .QuestionAnswer .PN {
  width: 80%;
  margin: auto;
  height: 5vh;
  margin-top: 10px;
}
section .second .box #ExamArea .QuestionAnswer .PN h6 {
  cursor: pointer;
  font-size: 15px;
}
section .second .box #ExamArea button {
  margin: auto;
  background-color: green;
  padding: 10px;
  color: white;
  border-radius: 5px;
  margin-left: 45%;
  margin-top: 20px;
}
section .second .box #confirmsubmit {
  width: 75%;
  display: none;
  margin: auto;
  margin-top: 20px;
  border: thin solid rgb(165, 39, 168);
  height: 50vh;
  border-radius: 9px;
}
section .second .box #confirmsubmit .PreSubmit {
  border: thin solid white;
  width: 60%;
  margin-top: 40px;
  text-align: center;
  box-shadow: 1px 2px 10px 2px rgb(163, 161, 161);
  border-radius: 10px;
  background-color: black;
  margin: auto;
  margin-top: 55px;
}
section .second .box #confirmsubmit .PreSubmit h5 {
  text-align: center;
  font-size: 15px;
  font-family: cursive;
  color: white;
  margin-top: 30px;
}
section .second .box #confirmsubmit .PreSubmit h4 {
  font-size: 15px;
  font-family: cursive;
  color: white;
}
section .second .box #confirmsubmit .PreSubmit button {
  padding: 5px;
  border: none;
}
section .second .box #none {
  display: none;
}
section .second .box #none #submitPage {
  margin: auto;
  margin-top: 20px;
  border-radius: 9px;
  border: thin solid rgb(165, 38, 168);
  width: 80%;
  background-color: rgb(165, 38, 168);
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 48px;
}
section .second .box #none #submitPage .griditem {
  width: 100%;
  height: 10vh;
  border: thin solid white;
  border-top: none;
  border-left: none;
  padding-top: 18px;
  padding-left: 20%;
  color: white;
  font-weight: 600;
  font-family: cursive;
}
section .second .box #none #submitPage .griditem1 {
  width: 100%;
  height: 10vh;
  border: thin solid white;
  border-top: none;
  padding-top: 15px;
  padding-left: 1%;
  font-weight: 400;
  color: white;
  font-family: cursive;
}
section .second .box #none #submitPage .griditem2 {
  width: 100%;
  height: 10vh;
  border: thin solid white;
  border-top: none;
  padding-top: 20px;
  padding-left: 15%;
  font-weight: 600;
  color: white;
  font-family: cursive;
}
section .second .box #none #submitPage .griditem3 {
  width: 100%;
  height: 10vh;
  border: thin solid white;
  border-top: none;
  border-right: none;
  padding-top: 20px;
  padding-left: 15%;
  font-weight: 600;
  color: white;
  font-family: cursive;
}
section .second .box #none #submitPage .griditem4 {
  width: 100%;
  height: 10vh;
  border: thin solid white;
  border-bottom: none;
  border-left: none;
  padding-top: 10px;
  padding-left: 19%;
  color: white;
  font-weight: 600;
  font-family: cursive;
}
section .second .box #none #submitPage .griditem5 {
  width: 100%;
  height: 10vh;
  border: thin solid white;
  border-bottom: none;
  padding-top: 20px;
  padding-left: 40%;
  font-size: 20px;
  font-weight: 600;
  color: white;
  font-family: cursive;
}
section .second .box #none #submitPage .griditem6 {
  width: 100%;
  height: 10vh;
  border: thin solid white;
  border-bottom: none;
  padding-top: 20px;
  padding-left: 40%;
  font-size: 20px;
  font-weight: 600;
  color: white;
  font-family: cursive;
}
section .second .box #none #submitPage .griditem7 {
  width: 100%;
  height: 10vh;
  border: thin solid white;
  border-bottom: none;
  border-right: none;
  font-family: cursive;
  padding-top: 20px;
  padding-left: 40%;
  font-size: 20px;
  font-weight: 600;
  color: white;
  font-family: cursive;
}
section .second .box #none .logoutuser {
  width: 10%;
  margin: auto;
}
section .second .box #none .logoutuser button {
  margin: auto;
  background-color: #3AB027;
  color: white;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
}

#spi {
  top: 0px;
  position: absolute;
  display: none;
  background-color: rgba(0, 0, 0, 0.808);
  width: 100%;
  height: 100vh;
  left: 0px;
}
#spi .loader {
  margin-left: 47%;
  margin-top: 20%;
  border: 4px solid white;
  border-radius: 50%;
  border-top: 4px solid #3AB027;
  width: 50px;
  height: 50px; /* Safari */
  animation: spin 0.5s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 1100px) {
  section .box {
    width: 90%;
  }
  section .box #none #submitPage {
    width: 90% !important;
  }
  section .box #none #submitPage .griditem1 {
    font-size: 15px;
    padding-top: 5px !important;
    padding-left: 7px !important;
  }
}
@media (max-width: 1365px) {
  section .second .box #ExamArea .QuestionAnswer .round {
    display: none;
  }
}
@media (max-width: 1000px) {
  section .second .box {
    width: 85%;
    left: 9.5%;
  }
  section .second .box .circle {
    width: 15%;
  }
  section .second .box hr {
    width: 65%;
  }
}
@media (max-width: 900px) {
  section .second .box #ExamArea {
    width: 95%;
  }
  section .second .box #ExamArea .Timetext {
    width: 50%;
  }
  section .second .box #ExamArea .QuestionAnswer {
    width: 90%;
  }
  section .second .box #ExamArea .QuestionAnswer .num {
    width: 4%;
    height: 4vh;
  }
}
@media (max-width: 730px) {
  section .second .box {
    width: 95%;
    left: 3%;
  }
  section .second .box .circle {
    width: 15%;
    height: 15vh;
    margin-top: -50px;
  }
  section .second .box h2 {
    font-size: 15px;
  }
  section .second .box p {
    font-size: 15px;
  }
  section .second .box hr {
    width: 70%;
  }
}
@media (max-width: 795px) {
  section .box {
    width: 95%;
  }
  section .box #none #submitPage .griditem {
    font-size: 12px;
  }
  section .box #none #submitPage .griditem1 {
    font-size: 10px;
    padding-left: 10px !important;
    padding-top: 10px !important;
  }
  section .box #none #submitPage .griditem2 {
    font-size: 12px;
  }
  section .box #none #submitPage .griditem3 {
    font-size: 12px;
  }
  section .box #none #submitPage .griditem4 {
    font-size: 12px;
  }
  section .box #none #submitPage .griditem5 {
    font-size: 18px !important;
    padding-top: 15px !important;
  }
  section .box #none #submitPage .griditem6 {
    font-size: 18px !important;
    padding-top: 15px !important;
  }
  section .box #none #submitPage .griditem7 {
    font-size: 18px !important;
    padding-top: 15px !important;
  }
}
@media (max-width: 567px) {
  section .box #none #submitPage .griditem {
    font-size: 10px;
    padding-left: 2% !important;
  }
  section .box #none #submitPage .griditem1 {
    font-size: 10px;
    padding-left: 2px !important;
    padding-top: 10px !important;
  }
  section .box #none #submitPage .griditem2 {
    font-size: 10px;
    padding-left: 4px !important;
  }
  section .box #none #submitPage .griditem3 {
    font-size: 10px;
  }
  section .box #none #submitPage .griditem4 {
    font-size: 10px;
    padding-left: 2% !important;
  }
  section .box #none #submitPage .griditem5 {
    font-size: 15px !important;
    padding-top: 15px !important;
  }
  section .box #none #submitPage .griditem6 {
    font-size: 15px !important;
    padding-top: 15px !important;
  }
  section .box #none #submitPage .griditem7 {
    font-size: 15px !important;
    padding-top: 15px !important;
  }
}
@media (max-width: 434px) {
  section .box #none #submitPage .griditem {
    font-size: 8px;
  }
  section .box #none #submitPage .griditem1 {
    font-size: 8px;
  }
  section .box #none #submitPage .griditem2 {
    font-size: 8px;
  }
  section .box #none #submitPage .griditem3 {
    font-size: 8px;
  }
  section .box #none #submitPage .griditem4 {
    font-size: 8px;
  }
  section .box #none #submitPage .griditem5 {
    font-size: 15px !important;
    padding-top: 15px !important;
  }
  section .box #none #submitPage .griditem6 {
    font-size: 15px !important;
    padding-top: 15px !important;
  }
  section .box #none #submitPage .griditem7 {
    font-size: 15px !important;
    padding-top: 15px !important;
  }
  section .box #none .logoutuser {
    margin-left: 37% !important;
  }
}
@media (max-width: 550px) {
  h1 {
    font-size: 15px;
  }
  section .second .box {
    width: 95%;
    left: 3%;
  }
  section .second .box .circle {
    width: 17%;
    height: 12vh;
    margin-top: -40px;
  }
  section .second .box h2 {
    font-size: 15px;
  }
  section .second .box p {
    font-size: 10px;
    font-weight: 600;
  }
  section .second .box hr {
    width: 70%;
  }
  section .second .box #ExamArea {
    width: 100%;
  }
  section .second .box #ExamArea .QuestionAnswer {
    width: 95%;
  }
  section .second .box #ExamArea .Timetext .Time h1 {
    color: white;
    margin-top: 9px;
    font-size: 20px;
  }
  section .second .box #ExamArea .Timetext .text h4 {
    margin-top: 9px;
    font-size: 15px;
  }
  section .second .box #ExamArea .PN {
    width: 100%;
    margin: auto;
    height: 5vh;
    margin-top: 10px;
  }
  section .second .box #ExamArea .PN h6 {
    cursor: pointer;
    font-size: 15px;
  }
  section .second .box #ExamArea button {
    margin-left: 40%;
  }
}
@media (max-width: 400px) {
  h1 {
    font-size: 10px;
    font-weight: 800;
  }
  section .second .box {
    width: 95%;
    left: 3%;
  }
  section .second .box .circle {
    width: 17%;
    height: 12vh;
    margin-top: -40px;
  }
  section .second .box h2 {
    font-size: 10px;
    font-weight: 600;
  }
  section .second .box p {
    font-size: 10px;
    font-weight: 600;
  }
  section .second .box hr {
    width: 70%;
  }
}