* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section h1 {
  text-align: center;
  margin-top: 50px;
  color: gold;
}
section .box {
  border: thin solid indianred;
  width: 40%;
  margin: auto;
  margin-top: 20px;
  border-radius: 7px;
  background-color: indianred;
}
section .box img {
  width: 35%;
  margin-left: 32.5%;
}
section .box .input {
  width: 80%;
  margin: auto;
  height: 10vh;
}
section .box .input label {
  color: white;
}
section .box .input input {
  padding: 9px;
  border-radius: 5px;
  width: 100%;
  border: thin solid white;
}
section .box .input input:focus {
  outline: 2px solid powderblue;
}
section .box .input button {
  width: 50%;
  margin: auto;
  padding: 10px;
  margin-left: 25%;
  border-radius: 8px;
  border: thin solid white;
  color: blue;
}
section .box .btn {
  width: 50%;
  margin: auto;
  margin-top: 100px;
}
section .box .btn button {
  width: 100%;
  padding: 9px;
  background-color: #3AB027;
  color: white;
  border: none;
  border-radius: 5px;
}

@media (max-width: 900px) {
  section .box {
    width: 60%;
  }
}
@media (max-width: 700px) {
  section .box {
    width: 80%;
  }
  section .box img {
    width: 25%;
  }
}
@media (max-width: 450px) {
  section .box {
    width: 95%;
  }
  section .box img {
    width: 25%;
    margin-left: 38%;
  }
}